@media (max-width: 375px) {
      
  .wrapper {
    position: relative;
    width: 900px;
    background-color: #E9DED4;
    background-blend-mode: color-burn;
    display: flex;
    flex-direction: column-reverse; /* this will move the image to the bottom */
  }
  
  .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    z-index: -1; /* this will place the image behind the content */
  }
      .header__logo-img {
        width: 213px;
      }
      
      .top {
        padding: 40px 0px 291px;
      }
      
      .top__content {
        width: 335px;
      }
      
      .top__title {
        font-size: 36px;
        line-height: 39px;
      }
      
      .top__capital {
        padding-left: 63px;
      }
      
      
      
      .top__description {
        text-align: unset;
      }
      
      .top__btns {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
      }
      .top__btns-chess {
        padding: 18px 43px;
        color: var(--white-text-color);
      }
      
      .top__btns-tournament {
        padding: 18px 81px;
        border: none;
        background: var(--white-text-color);
        opacity: 90%;

      }






      .list__line {
        width: 1727px;
        padding: 10px 0px;
        background: var(--red-color);
      }
      
      .item__line {
        font-size: 16px;
        list-style: initial;
        line-height: 17px;
      } 




     
.advertisement {
  padding: 48px 0px 60px;
}



.advertisement__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 34px;
}

.advertisement__main-title {
  font-size: 28px;
  line-height: 37px;
}


.advertisement__main-img {
  width: 335;
  height: 212px;
  border-radius: 74px;
}

.advertisement__box {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 24px;
}




.advertisement__background-img {
  width: 335px;
} 

.advertisement__content-title {
  font-size: 28px;
  line-height: 37px;
  margin-bottom: 44px;
}



.advertisement__list {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  
}



.advertisement__item-description:not(:last-child) {
  border-bottom: none;
} 

.advertisement__item-divider {
  display: none;
}

.advertisement__item-text {
  width: 335px;
}

.advertisement__item-text:not(:last-child) {
  border-bottom: 2px solid #D0D0D0;
} 



.advertisement__item-info {
  font-size: 18px;
  line-height: 21px;
}






.stages {
  padding: 60px 0px;
}

.stages__content {
  width: 335px;
}


.stages__title {
  font-size: 36px;
  line-height: 39px;
  margin-bottom: 148px;
}

.stages__text { 
  margin-top: 12px;
  width: 335px;
 line-height: 21px;
  font-size: 18px;
}

.stages__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(394px, 1fr));
  grid-template-rows: 1fr;
   flex-direction: column;
  gap: 20px;
  grid-template-areas:
  "item1 item3 item4"
  "item2 item5 item6"
  "item7 ";
}



.stages__item:nth-child(1) { grid-area: item1; width: clamp(335px, 100%,394px); height: 112px; }
.stages__item:nth-child(2) { grid-area: item2; width: clamp(335px, 100%,394px); height: 112px; }
.stages__item:nth-child(3) { grid-area: item3; width: clamp(335px, 100%,394px); height: 244px; }
.stages__item:nth-child(4) { grid-area: item4; width: clamp(335px, 100%,394px); height: 112px; }
.stages__item:nth-child(5) { grid-area: item5; width: clamp(335px, 100%,394px); height: 112px; }
.stages__item:nth-child(6) { grid-area: item6; width: clamp(335px, 100%,394px); height: 136px; }
.stages__item:nth-child(7) { grid-area: item7; width: clamp(335px, 100%,808px); height: 136px; padding-right: 270px; }


.stages__item {
  width: 335px;
  height: 300px;
  position: relative;
  background-image: url(../images/stages.back.png), url(../images/stamp.png);
  background-blend-mode: color-burn;
  padding: 62px 20px;
  display: flex;
  gap: 16px;
  align-items: center; 
}

.stages__box-number {
  background: #FFFFFF;
  border-radius: 60px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 20px;
}

.stages__description {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: clamp(18px, 1.4vw, 20px);
}

.stages__container{
  position: absolute;
  right: 0;
  bottom: -340%;
}

.stages__container-img {
  width: clamp(318px, 100%, 377px);
}





.participants {
  padding: 100px 0px;
}

.participants__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
}

.participants__container-title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: clamp(36px, 3vw, 54px);
  color: var(--main-text-color);
  line-height: 64px;
  text-transform: uppercase;
}

.participants__arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}


.participants__arrows-btn {
  width: 44px;
  height: 44px;
}

.participants__numbers {
  font-size: 16px;
  color: var(--main-text-color);
  line-height: 19px;
}


.participants__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.participants__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.participants__background {
  margin-bottom: 28px;
}

.participants__background-img {
  width: clamp(244px, 100%, 320px);
}

.participants__items-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--main-text-color);
  margin-bottom: 6px;
}

.participants__items-text {
  font-size: 20px;
  color: var(--main-text-color);
  margin-bottom: 20px;
}

.participants__btn {
  padding: 12px;
  border: 1px solid var(--blue-text-color);
  border-radius: 62px;
}

.participants__btn-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--blue-text-color);
}
}