@media (max-width: 375px) {
      
  .wrapper {
    position: relative;
    width: 900px;
    background-color: #E9DED4;
    background-blend-mode: color-burn;
    display: flex;
    flex-direction: column-reverse; /* this will move the image to the bottom */
  }
  
  .wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    z-index: -1; /* this will place the image behind the content */
  }
      .header__logo-img {
        width: 213px;
      }
      
      .top {
        padding: 40px 0px 291px;
      }
      
      .top__content {
        width: 335px;
      }
      
      .top__title {
        font-size: 36px;
        line-height: 39px;
      }
      
      .top__capital {
        padding-left: 63px;
      }
      
      
      
      .top__description {
        text-align: unset;
      }
      
      .top__btns {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
      }
      .top__btns-chess {
        padding: 18px 43px;
        color: var(--white-text-color);
      }
      
      .top__btns-tournament {
        padding: 18px 81px;
        border: none;
        background: var(--white-text-color);
        opacity: 90%;

      }






      .list__line {
        width: 1727px;
        padding: 10px 0px;
        background: var(--red-color);
      }
      
      .item__line {
        font-size: 16px;
        list-style: initial;
        line-height: 17px;
      } 
}